body
{
    min-width: 320px;
    padding: 0;
    margin: 0;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-size: 18px;
    line-height: 27px;
    color: #f7f4f1;
    font-style: normal;
    background-color: #292929;
}

img
{
    width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.page-header
{
    display: flex;
    flex-direction: column;
    align-items: center;

    background-image: url("../img/back-desktop.jpg");
    border: 1px solid red;
}
.page-header__logo
{
    width:226px;
    border: 1px solid green;
}
.main-nav
{
    position: relative;

    width: 320px;
    min-height:51px;
    margin: 0 auto;
    background-color: #826550;

    border: 1px solid blue;
}
.main-nav__toggle
{
    position: absolute;
    top:0;
    right: 0;
    z-index: 2;

    display: block;
    width: 70px;
    height: 50px;
    border: none;
    cursor: pointer;

    background-color: #6a4d38;
}
.main-nav__toggle:hover,
.main-nav__toggle:active {
  background-color: #624530;
}


.main-nav--closed .main-nav__toggle::before
{
  content: "";
  
  position: absolute;
  top: 15px;
  left: 17px;

  width: 36px;
  height: 2px;

  background-color: #fff;
  box-shadow: 0 8px 0 0 #fff, 0 16px 0 0 #fff;
}
.main-nav--closed .main-nav__toggle:active::before
{
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0 8px 0 0 rgba(255, 255, 255, 0.3), 0 16px 0 0 rgba(255, 255, 255, 0.3);
}



.main-nav--opened .main-nav__toggle {
    top: 0;
    right: auto;
    left: 0;
  }
  .main-nav--opened .main-nav__toggle::before,
  .main-nav--opened .main-nav__toggle::after {
    content: "";
    position: absolute;
    top: 24px;
    left: 18px;
    width: 36px;
    height: 2px;
    background-color: #fff;
  }
  .main-nav--opened .main-nav__toggle::before {
    transform: rotate(45deg);
    box-shadow: none;
  }
  .main-nav--opened .main-nav__toggle::after {
    transform: rotate(-45deg);
  }
  .main-nav--opened .main-nav__toggle:active::before,
  .main-nav--opened .main-nav__toggle:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }

  

.main-nav__wrapper
{
    
    background-color: #826550;
}

.main-nav--opened .main-nav__wrapper
{
    position: absolute;
    top: 0;
    right: 0;
    left: 70px;
    z-index: 10;

    min-height: 80vh;

    background-color: #6a4d38;
}


.main-nav__list
{
    display: flex;
    flex-direction: column;
    width: 250px;

    padding: 0px;
    margin: 0px;
    list-style: none;
    font-weight: bold;
}

.site-list a
{
    display: block;
    padding: 12px 21px;
    padding-bottom: 13px;

    font-size: 18px;
    line-height: 24px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;

    background-color: #826550;
    border-top: 1px solid #886e5b;
    border-bottom: 1px solid #71543f;
}

.site-list a[href]:hover {
    background-color: #755a46;
    border-top-color: #755a46;
  }
  .site-list a[href]:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #6a4d38;
    border-top-color: #6a4d38;
  }



.site-list__item a
{
    text-decoration: none;
}

.site-list__item
{
    margin-left: 0px;
    display: none;
}
.user-list__item
{
    
    display: none;
}

.user-list__login
{
    position: relative;

    display: block;
    padding: 17px 21px;
    padding-left: 49px;

    line-height: 18px;
    color: #fff;
    text-decoration: none;
}

.site-list__item--active
{
    display: block;
}

.main-nav--opened  .site-list__item
{
    display: block;
}
.main-nav--opened .user-list__item
{
    
    display: block;
}

@media (min-width: 320px)
{
    
}


@media (min-width: 640px)
{
    .main-nav
    {
        width: auto;
        margin: 0;

        background-color: #000000;
    }

    .main-nav__wrapper
    {
        display: flex;
        justify-content: space-between;
        width: 640px;
        margin: 0 auto;
    }

    .site-list__item
    {
        margin-left: 0px;
        display: flex;
    }

    .site-list
    {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        width: 570px;
        border: 1px solid red;
    }

    .user-list__item
    {
        
        display: flex;
    }
    .main-nav__toggle
    {
        display: none;
    }
    .main-nav__list
    {
        display: flex;
        flex-direction: row;
        background-color: #000000;
    }

    .main-nav__list
    {
        display: flex;
        flex-direction: row;
        background-color: #000000;
    }

    .site-list a
    {
        display: block;
        padding: 12px 21px;
        padding-bottom: 13px;

        font-size: 18px;
        line-height: 24px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;

        background-color: #71543f;
        border-top: 1px solid #886e5b;
        border-bottom: 1px solid #71543f;
    }
}
